body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  --counter-one: rgb(37,55,74);
  --counter-two: rgb(30,115,190);
  --counter-numeric-text-size: calc(10vh);
}

#left-counter {
  background-color: var(--counter-one);
}

#right-counter {
  background-color: var(--counter-two);
}
